<div class="swagger-ui-wrap">
  <a id="logo" href="https://github.com/Tronix117/apidok">Apidok</a>
  <form id='api_selector'>
    {{#iterate this}}
      <div class='input'>
        <label>{{label}}: </label>
        <select data-type="{{__key}}">
          {{#each list}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    {{/iterate}}
  </form>
</div>