
<div class='container' id='resources_container'>
    <ul id='resources'>
    </ul>

    <div class="footer">
        <br>
        <br>
        <h4 style="color: #999">[ <span style="font-variant: small-caps">generated with <a href="https://github.com/Tronix117/apidok">apidok</a></span> ]</h4>
    </div>
</div>
